@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container">
        <div class="card-content text-center blue-grey-text text-darken-2">
            <h1>Administration home page</h1>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p class="flow-text">
                        Manage your data
                    </p>
                </div>
            </div>
                   
            <div class="row">
                <div class="col s10 offset-s1">
                    <ul class="nav navbar-nav list-group" >
                        <li style="margin-right:30px">
                            <a href="@Url.Action("Index", "Categories", new { area = "Administration" })" class="btn btn-default">
                                <span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>
                                Categories
                            </a>
                        </li>
                        <li style="margin-right:30px">
                            <a href="@Url.Action("Index", "Materials", new { area = "Administration" })" class="btn btn-default">
                                <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
                                Materials
                            </a>
                            @*@Html.ActionLink("Materials", "Index", "Materials", new { area = "Administration" }, new { @class = "navbar-brand hvr-grow" })*@
                        </li>
                        <li style="margin-right:30px">
                            <a href="@Url.Action("Index", "Products", new { area = "Administration" })" class="btn btn-default">
                                <span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                Products
                            </a>
                            @*@Html.ActionLink("Products", "Index", "Adminproducts", new { area = "Administration" }, new { @class = "navbar-brand hvr-grow" })*@
                        </li>
                        <li style="margin-right:30px">
                            <a href="@Url.Action("Index", "Pictures", new { area = "Administration" })" class="btn btn-default">
                                <span class="glyphicon glyphicon glyphicon-picture" aria-hidden="true"></span>
                                Pictures
                            </a>
                            @*@Html.ActionLink("Pictures", "Index", "Pictures", new { area = "Administration" }, new { @class = "navbar-brand hvr-grow" })*@
                        </li>
                        <li style="margin-right:30px">
                            <a href="@Url.Action("Index", "Buildings", new { area = "Administration" })" class="btn btn-default">
                                <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
                                Buildings
                            </a>
                            @*@Html.ActionLink("Pictures", "Index", "Pictures", new { area = "Administration" }, new { @class = "navbar-brand hvr-grow" })*@
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>