@model MyWoodenHouse.Client.Web.ViewModels.Gallery.PictureGalleryVm

@{
    ViewBag.Title = "Galery";
}

Gallery is working

@using (Ajax.BeginForm("GetNextPicture", "Gallery", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "picturePreview",
    LoadingElementId = "loader",
    HttpMethod = "PUT",
}))
{
    <div>@Model.Id</div>

    @Html.Partial("_PictureNextPreviewPartial", Model)

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <button type="submit" class="btn btn-default">Next >></button>
}

@* ... *@
<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="~/Images/ajax-loader.gif" />
</div>


@Scripts.Render("~/bundles/jquery")
